
@model Data.Models.ScreenListModel
@{
    ViewBag.Title = "Screen";
}

<div style="display:flex">
    <h3 style="margin-bottom: 20px;">

        Screen >  @Html.DisplayFor(modelItem => Model.Name)
    </h3>
    <h3 style="margin-left: auto; margin-top: 18px; ">
        <a href="@Url.Action("CreateScreen","Screen",new { id = Model.Id })" class="btn btn-default">Add New Screen</a>
    </h3>
</div>

<table class="table table-hover">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>
    @{
        int a = 0;
        int b = 0;

    }
    @foreach (var item in Model.screenModelsList)
    {


        <tr>


            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @{

                    if (item.Id != 0)
                    {
                        <div style="display: flex; justify-content: flex-end; ">
                            <div style="margin-right: 5px; ">
                                <button>
                                    @Html.ActionLink("Edit", "EditScreen", new { id = item.Id })
                                </button>

                            </div>

                            <div style="margin-right: 5px; ">
                                <button>
                                    @Html.ActionLink("Delete", "DeleteScreen", new { id = item.Id }, new { onclick = "return confirm('You are sure wants to delete this Record?')" })
                                </button>

                            </div>
                            <div>
                                <button>
                                    @Html.ActionLink("SeatType", "SeatTypeList", new { ScreenId = item.Id })
                                </button>
                            </div>
                        </div>

                    }

                }

            </td>
        </tr>
    }
</table>

<a href="@Url.Action("Index","Multiplex")" class="btn btn-default">Back</a>