@*@model IEnumerable<Data.Models.SeatTypeModel>*@
@model Data.Models.ScreenListModel


@{
    ViewBag.Title = "SeatTypeList";
}

<div style="display:flex">
    <h3 style="margin-bottom: 20px;">

        @Html.DisplayFor(modelItem => Model.Name) > @Html.DisplayFor(modelItem => Model.ScreenName) > SeatType
    </h3>
    <h3 style="margin-left: auto; margin-top: 18px; ">
        <a href="@Url.Action("CreateSeatType","Screen",new { ScreenId = Model.Id })" class="btn btn-default">Add SeatType</a>
    </h3>
</div>

<table class="table table-hover">
    <tr>
        <th>
            Seat Type
            @*@Html.DisplayNameFor(model => model.Name)*@
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Seat)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.seatTypeModelsList)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Seat)
            </td>
            <td style="text-align:right">
                <button>

                    @Html.ActionLink("Edit", "EditSeatType", new { id = item.Id })
                </button>
                <button>
                    <span class="delete delete-@item.Id" data-deleteid="@item.Id">Delete</span>
                    @*@Html.ActionLink("Delete", "DeleteSeatType", new { id = item.Id }, new { onclick = "return confirm('You are sure wants to delete this Record?')" })*@
                </button>
            </td>
        </tr>
    }

</table>
<a href="@Url.Action("ScreenList","Screen",new {multiplexId = Model.MultiplexId  })" class="btn btn-default">Back</a>


<script>
    $(document).ready(function () {
        $('.delete').on('click', function () {
            var deleteId = $(this).data("deleteid");

            swal
                ({
                    title: "Are you sure?",
                    text: "You will not be able to recover the deleted record(s) again!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes, delete!",
                    closeOnConfirm: false,
                    closeOnCancel: false
                },
                    function (isConfirm) {
                        if (isConfirm) {
                            //swal("Deleted!", "Your history has been deleted.", "success");
                            swal
                                ({
                                    title: "Deleted!",
                                    text: "Your history has been deleted.",
                                    type: "success",
                                    //confirmButtonColor: "#DD6B55",
                                    confirmButtonText: "OK",
                                },
                                    function (isConfirm) {
                                        if (isConfirm) { window.location.reload(); }
                                    });

                            $.ajax({
                                type: 'GET',
                                url: '/Screen/DeleteSeatType',
                                dataType: 'JSON',
                                contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                                data: { id: deleteId },
                                success: function (data) {
                                    $(".delete-" + deleteId).closest('tr').remove();
                                }
                            });
                        }

                        else {
                            swal("Cancelled", "Your record is safe :)", "error");
                        }
                    });
        });
    })
</script>
